<%- include('partials/header'); -%>

<ul class="books">
    <% if (books) { %>
        <% books.forEach(book => { %>
            <li class="book">
                <h4><%= book.title %></h4>
                <h4><%= book.author %></h4>
                <p><%= book.description %></p>
                <button style="margin: 10 auto;" name="book" id="<%= book.id %>">Add Book</button>
            </li>
        <% }) %>
    <% } %>
</ul>
<script>
    const buttons = document.getElementsByName("book");
    console.log(buttons.length);
    buttons.forEach(button => {
        button.addEventListener("click", async (event) => {
            event.preventDefault();

            const bookId = button.id;
            console.log(bookId);

            try {
                const res = await fetch(`/users/add-book/${bookId}`, {
                    method: "POST",
                    body: JSON.stringify(),
                    headers: { 'Content-Type': 'application/json'}
                })
                const data = await res.json()
                console.log(data)
                if (data.errors) {
                    usernameError.textContent = data.errors.username
                    passwordError.textContent = data.errors.password
                }
                if (data.user) {
                    location.assign('/books')
                }
            } catch (err) {
                console.log(err)
            }
        })
    })

</script>
<%- include('partials/footer'); -%>