<%- include('partials/header'); -%>

<ul class="books">
    <% if (books) { %>
        <% books.forEach(book => { %>
            <li class="book">
                <h4><%= book.title %></h4>
                <h4><%= book.author %></h4>
                <p><%= book.description %></p>
                <button style="margin: 10 auto;" name="book" id="<%= book.id %>">Add Book</button>
            </li>
        <% }) %>
    <% } %>
</ul>

<%- include('partials/footer'); -%>