<%- include('patrials/header'); -%>

<ul class="books">
<!--    <li>-->
<!--        <h4>Book Title</h4>-->
<!--        <h4>Book Author</h4>-->
<!--        <p>Book Description</p>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h4>Book Title</h4>-->
<!--        <h4>Book Author</h4>-->
<!--        <p>Book Description</p>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h4>Book Title</h4>-->
<!--        <h4>Book Author</h4>-->
<!--        <p>Book Description</p>-->
<!--    </li>-->
    <% if (books) { %>
        <% books.forEach(book => { %>
            <li class="book">
                <% console.log(book.title) %>
                <h4><%= book.title %></h4>
                <% console.log(book.author) %>
                <h4><%= book.author %></h4>
                <% console.log(book.description) %>
                <p><%= book.description %></p>
            </li>
        <% }) %>
    <% } %>
</ul>

<%- include('patrials/footer'); -%>